/*  ********  */

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.form__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form__top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.form__left-img {
  position: relative;
  top: 0;
  left: 0;
}

.form__left-img-absolute {
  position: absolute;
  top: 25px;
  left: 156px;
}

.form__right-top {
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
}

.form__right-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form__right-form input {
  width: 70%;
  margin-bottom: 6px;
  padding: 7px 9px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;

  border-radius: 1px;
  outline: none;
  font-size: 14px;

  transition: 0.3s;
}

.form__right-form input::placeholder {
  font-size: 12px;
}

.form__right-form input:focus {
  border-color: #a8a8a8;
}

.form__right-form button {
  margin-bottom: 8px;
  margin-top: 8px;
  width: 80%;
  background-color: #0095f6;
  opacity: 0.7;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  padding: 7px 16px;
}

.form__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__right-logo {
  margin-top: 36px;
  margin-bottom: 12px;
}
.form__right-or {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 8px 0;
  position: relative;
}

.form__right-or::before {
  content: "";
  position: absolute;
  top: 0.55rem;
  right: 50px;
  width: 100px;
  height: 1px;
  background-color: #dbdbdb;
}

.form__right-or::after {
  content: "";
  position: absolute;
  top: 0.55rem;
  left: 50px;
  width: 100px;
  height: 1px;
  background-color: #dbdbdb;
}
